GROUP_ENV=dev
AWS_DEFAULT_REGION=ap-northeast-2
BATCH_LOADER_LAMBDA_NAME=lifesync-dev-09-streaming-api-la-BatchLoaderLambda-REPLACE
SOURCE_NAME=group
GROUP_BATCH_INTERVAL_SEC=120
GROUP_BATCH_RECORDS=100
GROUP_LOCAL_BATCH_DIR=/opt/group-agent/batches

AUTO_START_GROUP_SENDER=false
